/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HERO */
.hero {
    background: url('images/ENTRENADOR-PERSONAL.jpg') no-repeat center/cover;
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    overflow: hidden;

}
/* Overlay negro semitransparente */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
.hero-content{
    position: relative;
    z-index: 2;
}
.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-buttons{
    display: flex;
    justify-content: center;
}
.btn-primary {
    background: #00509c;
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 10%;
}

.btn-primary:hover {
    background: #013f75;
}

/* SECCIONES */
.section {
    padding: 3rem 2rem;
    text-align: center;
    z-index: 2;
}

.services-grid {
    display: flex;
    gap: 1.5rem;
}

.service-card {
    background: #fafafa;
    padding: 1.5rem;
    border-radius: 15px;
    width: 250px;
}
.title-grid-cards{
    display: flex;
    color: #222222;
    margin-bottom: 2rem;
    justify-content: center;
}
.title-service-card{
    margin-bottom: 2rem;
    color: #00509c;
}

/* FORMULARIO */
form input,
form textarea,
form button {
    display: block;
    width: 100%;
    margin: 0.75rem 0;
    padding: 0.75rem;
}

form button {
    background: #00509c;
    color: white;
    border: none;
    cursor: pointer;
}

/* FOOTER */
.footer {
    background: #222;
    color: #fff;
    padding: 1rem;
}